@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --desktop-padding: 6rem;
  --desktop-maxWidth: 2000px;
  --mobile-padding: 2rem;
  --desktop-max: 2000px;
  --desktop-max-h: 1000px
}

body {
  overflow-x: hidden;
  font-family: "Archivo";
}



@font-face {
  font-family: "Archivo";
  font-weight: 100 900;
  src: local(''), url("/fonts/Archivo.ttf");
}